In [1]:
#Declare a float value and store it in a variable. 


a=10.24


#Check the type and print the id of the same.

print('Variable ''a'' type is', type(a), 'and ' 'id is',id(a))

Variable a type is <class 'float'> and id is 4539214448

In [2]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

b=22.33
c=2.30

#Do below operations on them:-
print(b+c)    #Find sum of both numbers

print(b-c)    #Find differce between them

print(b*c)    #Find the product of both numbers.

print(b/c)    #Find value after dividing first num with second number

print(b%c)    #Find the remainder after dividing first number with second number

print(b//c)    #Find the quotient after dividing first number with second number

print(b**c)    #Find the result of first num to the power of second number.

24.63
20.029999999999998
51.358999999999995
9.708695652173914
1.63
9.0
1266.0301928846584

In [3]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

s=2.44
t=6.55
#Do below operations on them:-
    #Compare these two numbers with below operator:-
print(s>t)        #Greater than, '>'

print(s<t)        #Smaller than, '<'

print(s>=t)        #Greater than or equal to, '>='

print(s<=t)        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

False
True
False
True

In [4]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

x=5.67
y=7.88

#Equuate them using equality operator (==, !=)

print(x==y)
print(x!=y)

#Observe the output(return type should be boolean)

False
True

In [5]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [9]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b - 10.20
print(a is b)          #True or False? True 10.20<256    Ans: False
print(a is not b)      #True or False? False             Ans: True

# Why the Id of float values are different when the same value is assigned to two different variables

print(id(a),id(b))     #Because Id is different and in float object reusability is not possible.

# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

a = 10.5 
b=10.5
a=c
print(id(a),id(c),id(b))   #If in code, a=c is written then c's id will be same as a's but id will be different for b.

False
True
4540432336 4539214448
4540430576 4540430576 4541227248

In [10]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

a = 10.5 
b=10.5
a=c
print(id(a),id(c),id(b))   # If in code, a=c is written then c's id will be same as a's but id will be different for b.
# c is now pointing to a therefore id is same for the variable but in case of b a value is being stored and b is not pointing to a.

4540430576 4540430576 4539214448

In [7]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True